---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Whoops — Omran Jamal">
  <div class="flex flex-col max-w-screen-sm items-center mx-auto">
    <h1 class="font-black text-6xl mt-16 text-center text-pink-600">404 - NOT FOUND</h1>
    <p class="font-bold text-5xl mt-12 text-center">Here's a GIF of my servers looking for that page.</p>
    <iframe
      src="https://giphy.com/embed/xCwYFe19SldXLrJlwm"
      frameBorder="0"
      class="giphy-embed w-72 h-72 my-16"
      allowFullScreen
    >
    </iframe>
  </div>
</Layout>
