---
import Layout from "../layouts/Layout.astro";
import { getCollection, getEntryBySlug } from "astro:content";
import { format } from "timeago.js";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.unlisted)
  .sort((a, b) => {
    if (a.data.published > b.data.published) {
      return -1;
    } else {
      return 1;
    }
  });
---

<Layout title="Blog — Omran Jamal">
  <div class="px-4">
    <h1 class="my-16 text-6xl font-black">Blog</h1>
    <section class="mb-32 space-y-8">
      {
        posts.map((post) => (
          <div class="block font-jetbrains-mono">
            <a href={`/blog/${post.slug}`} class="text-2xl font-bold">
              {post.data.title}
            </a>
            <div class="md:ml-12">
              <div class="space-x-4">
                {post.data.tags.map((tag) => (
                  <a href="#" class="text-sm text-gray-400">
                    {tag}
                  </a>
                ))}
              </div>
              <div class="text-sm text-gray-500 uppercase">
                {format(post.data.edited, "en_US")}
              </div>
            </div>
          </div>
        ))
      }
    </section>
  </div>
</Layout>
