---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Blog — Omran Jamal">
    <p class="my-32 text-center text-gray-500">Still Under Construction</p>
</Layout>
