---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Hi, I'm Omran">
	<main class="container max-w-screen-lg mx-auto py-32">
		<h1 class="text-xl">Welcome to Omran's Blog</h1>
		<p>... err, he hasn't finished it yet, he will though. Soon.</p>
	</main>
</Layout>

