@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(100 116 139) white;

  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  html {
    scrollbar-width: unset;
  }
}

html,
body {
  font-family: "Inter", sans-serif;
}

.post h2 {
  @apply mb-8 mt-12 text-5xl font-black font-jetbrains-mono;
}

.post h3 {
  @apply mb-4 mt-12 text-4xl font-black font-jetbrains-mono;
}

.post h4 {
  @apply mb-4 mt-12 text-2xl font-bold font-jetbrains-mono;
}

.post h5 {
  @apply mb-4 mt-12 text-xl font-semibold font-jetbrains-mono;
}

.post h6 {
  @apply mb-2 mt-12 text-lg font-semibold font-jetbrains-mono;
}

.post p {
  @apply px-0 my-3;
}

.post a:not(h2 > a, h3 > a, h4 > a, h5 > a, h6 > a) {
  @apply underline-offset-2 hover:underline-offset-4 transition-all underline text-pink-500;
}

.post ol {
  @apply pl-6 list-decimal;
}

.post ul {
  @apply pl-6 list-disc;
}

.post blockquote {
  @apply px-4 py-4 my-4 border-l-4 rounded-md bg-slate-100;
}

.post pre {
  margin-bottom: 1rem !important;
}

.post p code,
.post li code {
  @apply px-1 py-0 bg-yellow-50 border-2 border-yellow-200 rounded-md;
}

.post h1 code,
.post h2 code,
.post h3 code,
.post h4 code,
.post h5 code,
.post h6 code {
  @apply bg-yellow-50 border-2 border-yellow-200 rounded-md;
}

.post li {
  @apply mb-4;
}

.post em {
  @apply text-slate-700;
}

.post details summary {
  @apply cursor-pointer font-bold;
}

::selection {
  color: black;
  @apply bg-pink-600;
}

.custom-scrollbar-thumb-clearing::-webkit-scrollbar-thumb {
  border: 0.3rem solid white;
}
